boto==2.49.0
boto3==1.9.50
botocore==1.12.50
bz2file==0.98
certifi==2018.10.15
chardet==3.0.4
Django==2.1.1
docutils==0.14
gensim==3.6.0
gunicorn==19.6.0
h5py==2.8.0
idna==2.7
jmespath==0.9.3
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
nltk==3.4
numpy==1.15.4
opencv-python==3.4.3.18
protobuf==3.1.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.20.1
s3transfer==0.1.13
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.7.1
tensorflow
urllib3==1.24.1
