{% extends 'company/base.html' %}


{% block content %}



      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row mt">
                  <div class="col-md-8">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4><i class="fa fa-angle-right"></i> Interviews </h4>
	                  	  	  <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-bullhorn"></i> Interview Name</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Description</th>
                                  <th><i class="fa fa-bookmark"></i> Status</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody>

                              <tr>
                                  <td>
                                      <a href="basic_table.html#">
                                          Trial
                                      </a>
                                  </td>
                                  <td class="hidden-phone">small tech interview</td>
                                  <td> Live </td>
                              </tr>
                              <tr>
                                  <td>
                                      <a href="basic_table.html#">
                                          Another trial
                                      </a>
                                  </td>
                                  <td class="hidden-phone">marketing</td>
                                  <td> Not live yet </td>

                              </tr>
                              <tr>
                                  <td>
                                      <a href="basic_table.html#">
                                          okay cool
                                      </a>
                                  </td>
                                  <td class="hidden-phone">sales interview</td>
                                  <td> Live </td>

                              </tr>

                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
              <div>
            <button type="button" class="btn btn-success">Create New Interview</button>
            </div>
		</section>
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->

  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

    <!--script for this page-->

  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>


  
  {% endblock %}
