{% extends 'company/base.html' %}


{% block content %}

<div class="container" id="frm">
  <h2>Invite for Interview</h2>
  <form action="home.html">
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Domain</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Select</option>
      <option>Web Development</option>
      <option>Machine Learning</option>
      <option>Java</option>
      <option>Data Science</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Multiple Domain</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Select</option>
      <option>Web Development</option>
      <option>Machine Learning</option>
      <option>Java</option>
      <option>Data Science</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Additional</label>
    <textarea placeholder="Any subjective details or instructions." class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<style>
#frm{
  margin-top: 100px;
}
</style>


{% endblock %}
