{% extends 'company/base.html' %}


{% block content %}


  <div class="jumbotron jumbotron-fluid" style="background: #aaf2f7;">
    <h1 class="display-4" style="margin-left: 20px;"> Create Company</h1>
  </div>


  <div class="jumbotron" id="frm">
    <h2>Enter Company Details</h2>

    <form method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlInput1"><h5>User Name</h5></label>
      <input style="margin-bottom: 30px; width: 30%;" type="text" class="form-control" name="username" id="exampleFormControlInput1" placeholder="Marketing" style="width: 30%">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1"><h5>Password</h5></label>
      <input style="margin-bottom: 30px; width: 30%;" type="password" class="form-control" name="password" id="exampleFormControlInput1" placeholder="Ex: Mumbai" style="width: 30%">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1"><h5>Company Name</h5></label>
      <input style="margin-bottom: 30px; width: 30%;" type="text" class="form-control" name="company_name" id="exampleFormControlInput1" placeholder="Manager" style="width: 30%">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1"><h5>Company Email</h5></label>
      <input style="margin-bottom: 30px; width: 30%;" type="email" class="form-control" name="company_email" id="exampleFormControlInput1" placeholder="Email" style="width: 30%">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1"><h5>Company Location</h5></label>
      <input style="margin-bottom: 30px; width: 30%;" type="text" class="form-control" name="company_location" id="exampleFormControlInput1" placeholder="Location" style="width: 30%">
    </div>
    <button style="margin-top: 30px;" type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>


  </form>
  {% if form_is_saved and previous_page %}<meta http-equiv="refresh" content="0; url={{ previous_page }}" />{% endif %}
  </div>
  <style>
  #frm{
    margin-top: 100px;
    background-color: #aaf2f7;
  }
  </style>


  {% endblock %}
